%h1 XueTang_CloudComputing
%div#br
  %ul.nav.nav-tabs
    - @top_category.each do |category|
      %li{ :class => (params[:id] == category.id.to_s)?'active':nil }
        =link_to "#{category.name}", category_path(category)
  %ol.breadcrumb
    - @trace_category.each do |category|
      %li
        =link_to "#{category.name}", category_path(category)
      %li \
    %li.active #{@current_category.name}
  %table#subcategory_table.table.table-bordered
    %tbody
      %tr#firstline
        - @sub_category.each do |subcategory|
          %td= link_to "#{subcategory.name}", category_path(subcategory)  if subcategory
  %table#article_table.table.table-bordered
    %tbody
      %tr#firstline
        %td Title
        %td Author
        %td id
      - @articles.each do |article|
        %tr.articles
          %td= link_to "#{article.title}", article_path(article)
          %td= article.author
          %td= article.id

