%h1 XueTang Project
= form_tag article_path(@article), :method => :put do
  = label :article, :title, 'Title'
  = text_field :article, :title

  = label :article, :author, 'Author'
  = text_field :article, :author

  = label :article, :content, 'Text'
  = text_area :article, :content
  %br
  = submit_tag 'Save Changes'

