
%div#br
  %ul.nav.nav-tabs
    - @categories.each do |category|
      %li{ :class => (params[:id] == category.id.to_s)?'active':nil }
        =link_to "#{category.name}", category_path(category)
    %li{:style => "float: right"}= link_to "Home", visitor_index_path()
  %ol.breadcrumb
    - @trace_category.each do |category|
      %li
        =link_to "#{category.name}", category_path(category)
    %li.active #{@article.title}
  %div#article_table
    %div.row
      %div#firstline.col-md-12.text-center
        %h3
          = @article.title
    %div.row
      %div.col-md-2.text-left
        = "author: #{@article.author}"
      %div.col-md-8.text-center
        = "create date: #{@article.created_at}"
      %div.col-md-2.text-right
        = "category: #{@article.category.name}"
    %ul.pager
      - @tags.each do |tag|
        %li
          = link_to tag.name, article_path(@article.id)
    %div.row.hero-unit#content
      %div.col-md-10.text-left{:style => "padding-left:0px;padding-right:0px;"}
        %iframe{:src => raw_article_path(@article), :scrolling => "no", :width => "100%", :onload => "javascript: this.style.height = this.contentWindow.document.body.scrollHeight + 'px'; this.style.border = 0;"}
    %div#back.btn.btn-link= link_to "back", category_path(@article.category)
