%h1 XueTang_CloudComputing

%div#br
  %ul.nav.nav-tabs
    - @categories.each do |category|
      %li{ :class => (params[:id] == category.id.to_s)?'active':nil }
        =link_to "#{category.name}", category_path(category)
  %ol.breadcrumb
    - @trace_category.each do |category|
      %li
        =link_to "#{category.name}", category_path(category)
      %li \
    %li.active #{@article.title}
  %div#article_table
    %div.row-fluid
      %div#firstline.span12.text-center
        %h3
          = @article.title
    %div.row-fluid
      %div.span2.text-left
        = "author: #{@article.author}"
      %div.span8.text-center
        = "create date: #{@article.created_at}"
      %div.span2.text-right
        = "category: #{@article.category.name}"
    %div.row-fluid.hero-unit#content
      %div.span10.text-left{:style => "padding-left:0px;padding-right:0px;"}
        = @article.content
    %div#back.btn.btn-link= link_to "back", category_path(@article.category)
