%h1 XueTang_CloudComputing

%div#br
  %ul.nav.nav-tabs
    - @categories.each do |category|
      %li{ :class => (params[:id] == category.id.to_s)?'active':nil }
        =link_to "#{category.name}", category_path(category)
  %table#article_table
    %tbody
      %tr#firstline
        %td.title.popover-title{:colspan => '3'}= @article.title
      %tr
        %td.popover-title= "author: #{@article.author}"
        %td.popover-title= "create date: #{@article.created_at}"
        %td.popover-title= "category: #{@article.category.name}"
      %br
      %tr#content
        %td{:colspan => '3'}= @article.content
  %div#back= link_to "back", category_path(@article.category)

