%h1 XueTang Project
%div#br
  %ul#navigator.nav.nav-tabs
    - @top_categories.each do |category|
      %li
        =link_to "#{category.name}", category_path(category)
-@top_categories.each do |category|
  %div.span5{:id => category.name}
    %table.table.table-bordered.table-hover
      %thead
        %tr
          %th{:colspan => '4', :style => "text-align: center"}= link_to "#{category.name}", category_path(category)
      %tbody
        %tr
          %th{:rowspan => "#{@subcategories[category].size+1}", :style =>"vertical-align: middle"} subcats
        -@subcategories[category].each do |subcategory|
          %tr
            %td{:colspan => '3'}= link_to "#{subcategory.name}", category_path(subcategory)
        %tr
          %th{:rowspan => "#{category.articles.size+1}", :style =>"vertical-align: middle"} articles
        -category.articles.each do |article|
          %tr
            %td= link_to "#{article.title}", article_path(article)
            %td{:style => "color: gray"}= article.created_at
            %td{:style => "color: gray"}= article.author
