
%div#br
  %ul#navigator.nav.nav-tabs
    - @top_categories.each do |category|
      %li
        =link_to "#{category.name}", category_path(category)
    %li{:style => "float: right"}
      - if @temporary_user
        =link_to "Personal page", personal_path(@temporary_user.id)
%div.row-fluid
  %div.span5
    =render "carousel"
-@top_categories_to_show.each do |category|
  %div.span5
    %table.table.table-bordered.table-hover{:id => category.name}
      %thead
        %tr
          %th{:colspan => '4', :style => "text-align: center"}= link_to "#{category.name}", category_path(category)
      %tbody
        %tr
          %th{:rowspan => "#{@subcategories[category].size+1}", :style =>"vertical-align: middle"} subcats
        -@subcategories[category].each do |subcategory|
          %tr
            %td{:colspan => '3'}= link_to "#{subcategory.name}", category_path(subcategory)
        %tr
          %th{:rowspan => "#{category.articles.size+1}", :style =>"vertical-align: middle"} articles
        -category.articles.each do |article|
          %tr
            %td= link_to "#{article.title}", article_path(article)
            -if article.created_at.to_a[3] == Time.now.to_a[3] && article.created_at.to_a[4] == Time.now.to_a[4] && article.created_at.to_a[5] == Time.now.to_a[5]
              %td{:style => "color: gray"}= article.created_at.to_s.scan(/([^ ]+)/).flatten[1]
            -else
              %td{:style => "color: gray"}=            article.created_at.to_s.scan(/([^ ]+)/).flatten[0]
            %td{:style => "color: gray"}= article.author

%div.span10

  %table.table.table-bordered.table-hover
    %thead
      %tr
        %th{:colspan => "7", :style => "text-align: center; font-size: 25px"} Lesson Table
      %tr
        %td{:colspan => "7"}
          %div.btn-group
            %button.btn.btn-default.dropdown-toggle{:type => "button", "data-toggle" => "dropdown"}
              Classroom
              %span.caret
            %ul.dropdown-menu{:role => "menu"}
              -@classrooms.each do |clarm|
                %li= link_to clarm, visitor_index_path(:id => 1, :classroom => clarm)
              %li= link_to "Show all", visitor_index_path(:id => 1)
          %div.btn-group
            %button.btn.btn-default.dropdown-toggle{:type => "button", "data-toggle" => "dropdown"}
              Department
              %span.caret
            %ul.dropdown-menu{:role => "menu"}
              -@departments.each do |dep|
                %li= link_to dep, visitor_index_path(:id => 1, :department => dep)
              %li= link_to "Show all", visitor_index_path(:id => 1)
      %tr
        %th Mon.
        %th Tue.
        %th Wed.
        %th Thu.
        %th Fri.
        %th Sat.
        %th Sun.
    %tbody
      - (1..6).each do |row|
        %tr
          - (1..7).each do |col|
            %td
              -generate_lesson_table(row, col, @table).each do |le|
                %span.label.label-primary{:style => "background-color: #006DCC; margin: 2px"}
                  -le.each do |line|
                    =line
                    %br
                %br
