%h1 Edit Lesson
%div.row-fluid
  %div.span2
    =render "nav"
  %div.span10
    = form_tag admin_lesson_table_path(@lesson), :method => :put do
      = label :lesson, :name, "Name"
      = text_field :lesson, 'name', :value => @lesson.name, :placeholder => "Name"
      = label :lesson, :name, "Column"
      = text_field :lesson, 'column', :value => @lesson.column, :placeholder => "Column"
      = label :lesson, :name, "Row"
      = text_field :lesson, 'row', :value => @lesson.row, :placeholder => "Row"
      = label :lesson, :name, "Classroom"
      = text_field :lesson, 'classroom', :value => @lesson.classroom, :placeholder => "Classroom"
      = label :lesson, :name, "Department"
      = text_field :lesson, 'department', :value => @lesson.department, :placeholder => "Department"
      %br
      = submit_tag 'Update Lesson Info', :class => "btn"
