%h1 Edit Lessons
%div.row-fluid
  %div.span2
    =render "nav"
  %div.span10
    %table.table.table-bordered.table-hover
      %thead
        %tr
          %th Name
          %th Day/Rank
          %th Classroom
          %th Department
          %th Edit
          %th Delete
      %tbody
        - @lessons.each do |lesson|
          %tr
            %td= lesson.name
            %td= "#{lesson.column}/#{lesson.row}"
            %td= lesson.classroom
            %td= lesson.department
            %td= link_to "Edit", edit_admin_lesson_table_path(lesson.id)
            %td= link_to "Delete", admin_lesson_table_path(:id => lesson.id), :method => "delete", :confirm => "Are you sure?"

%br
  = link_to "Add new lesson", "/admin/lesson_table/0/new_lesson", {:class => "btn btn-link"}
