%h1 Edit Lessons
%div.row-fluid
  %div.col-md-2
    =render "nav"
  %div.col-md-10
    %div.btn-group
      = link_to "Sorted by Classroom", admin_lesson_table_path(:id => 0, :sort => "classroom"), :class => "btn btn-default btn-lg", :role => "button"
      = link_to "Sorted by Department", admin_lesson_table_path(:id => 0, :sort => "department"), :class => "btn btn-default btn-lg", :role => "button"
      = link_to "Unsorted", admin_lesson_table_path(:id => 0), :class => "btn btn-default btn-lg", :role => "button"
      = link_to "Add new lesson", "/admin/lesson_table/0/new_lesson", :class => "btn btn-default btn-lg", :role => "button"
    - @lessons.each do |key, content|
      %table.table.table-bordered.table-hover{:id => key}
        %thead
          %tr{:colspan => "6"}
            %th
              %span{:style => "font-size: 16px"}
                = key
          %tr
            %th Name
            %th Day/Rank
            %th Classroom
            %th Department
            %th Edit
            %th Delete
        %tbody
          - content.each do |lesson|
            %tr
              %td= lesson.name
              %td= "#{lesson.column}/#{lesson.row}"
              %td= lesson.classroom
              %td= lesson.department
              %td= link_to link_to image_tag("edit.jpg", :height => "32", :width => "32"), edit_admin_lesson_table_path(lesson.id), :id => lesson.name+"_edit"
              %td= link_to link_to image_tag("delete.jpg", :height => "32", :width => "32"), admin_lesson_table_path(:id => lesson.id), :method => "delete", :confirm => "Are you sure?", :id => lesson.name+"_delete"

%br
