<!DOCTYPE html>
<html>
<head>
  <title>CloudComputing</title>
  <%= stylesheet_link_tag "bootstrap" %>
  <%= stylesheet_link_tag "login" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag 'ckeditor/ckeditor.js' %>
  <%= javascript_include_tag "login" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <style>
[class^="icon-"], [class*=" icon-"] {
  background-image: url("/assets/img/glyphicons-halflings.png");
}
[class^="icon-white"], [class*=" icon-white"] {
  background-image: url("/assets/img/glyphicons-halflings-white.png");
}
  </style>
</head>
<body>
<%= render "user_status" %>
<div class="container">
<%= link_to image_tag("banner.gif"), root_path %>
</div>
<div class="container">
<%= yield %>
</div>
<%= yield :scripts%>
</body>
</html>
